@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: 'Spacemono';
	src: url('../fonts/spacemono-regular-webfont.woff2') format('woff2'),
		 url('../fonts/spacemono-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'castellar';
	src: url('../fonts/castellar/castellar.tff') format('tff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'lucida';
	src: url('../fonts/lucida_calligraphy/LCALLIG.tff') format('tff'),
		 url('../fonts/lucida_calligraphy/lucida_calligraphy_italic.ttf') format('tff');
	font-weight: normal;
	font-style: normal;
}

html {
	font-family: 'Spacemono', 'castellar', 'lucida';
}